<div class="center jumbotron">
  <h1>Welcome to Hartl Tutorial</h1>
  <p>Here is some text.  DOES IT MAKE YOU WANT TO CLICK BUTTONS YET?!?</p>
  <%= link_to 'Sign Up Now!', signup_path, class: 'btn btn-lg btn-primary' %>
</div>
